/* Ortak stil ayarları */
input[type="email"], input[type="password"], input[type="text"] {
    width: calc(100% - 30px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-top: 50px;
}

/* Bağlantı linkleri için stil */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer stil ayarları */
footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #222;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header {
    background-color: #cc0000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}